# Syntax is here:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

Makefile         @alexshtin @wxing1292
/proto/          @alexshtin

*                @temporalio/server
