.coverage
.testoutput
.github
.idea
.vscode
*.md

develop/docker-compose

.git

# exclude binaries from the docker build context
tdbg
temporal-server
temporal-cassandra-tool
temporal-sql-tool
temporal-elasticsearch-tool
