[submodule "proto/api"]
	path = proto/api
	url = https://github.com/stephanos/api
	branch = update-with-start2
[submodule "develop/docker-compose/grafana/provisioning/temporalio-dashboards"]
	path = develop/docker-compose/grafana/provisioning/temporalio-dashboards
	url = https://github.com/temporalio/dashboards
