.tmp/

.idea/
.vscode/settings.json
*.code-workspace
.DS_Store

*.out
*.test
*.xml
*.swp
/*.iml
*.cov
*.html
/test.log

# Executables produced by temporal repo
/temporal-*
/tctl*

# Buf proto image
/proto/image.bin