log:
    stdout: true
    level: {{ default .Env.LOG_LEVEL "info" }}

persistence:
    numHistoryShards: {{ default .Env.NUM_HISTORY_SHARDS "4" }}
    defaultStore: default
    visibilityStore: visibility
    {{- $es := default .Env.ENABLE_ES "false" | lower -}}
    {{- if eq $es "true" }}
    advancedVisibilityStore: es-visibility
    {{- end }}
    datastores:
        {{- $db := default .Env.DB "cassandra" | lower -}}
        {{- if eq $db "cassandra" }}
        default:
            cassandra:
                hosts: {{ default .Env.CASSANDRA_SEEDS "" }}
                keyspace: {{ default .Env.KEYSPACE "cadence" }}
        visibility:
            cassandra:
                hosts: {{ default .Env.CASSANDRA_SEEDS "" }}
                keyspace: {{ default .Env.VISIBILITY_KEYSPACE "cadence_visibility" }}
        {{- else if eq $db "mysql" }}
        default:
            sql:
                pluginName: "mysql"
                databaseName: {{ default .Env.DBNAME "cadence" }}
                connectAddr: "{{ default .Env.MYSQL_SEEDS "" }}:{{ default .Env.DB_PORT "3306" }}"
                connectProtocol: "tcp"
                user: {{ default .Env.MYSQL_USER "" }}
                password: {{ default .Env.MYSQL_PWD "" }}
                {{- if .Env.MYSQL_TX_ISOLATION_COMPAT }}
                connectAttributes:
                    tx_isolation: 'READ-COMMITTED'
                {{- end }}
        visibility:
            sql:
                pluginName: "mysql"
                databaseName: {{ default .Env.VISIBILITY_DBNAME "cadence_visibility" }}
                connectAddr: "{{ default .Env.MYSQL_SEEDS "" }}:{{ default .Env.DB_PORT "3306" }}"
                connectProtocol: "tcp"
                user: {{ default .Env.MYSQL_USER "" }}
                password: {{ default .Env.MYSQL_PWD "" }}
                {{- if .Env.MYSQL_TX_ISOLATION_COMPAT }}
                connectAttributes:
                    tx_isolation: 'READ-COMMITTED'
                {{- end }}
        {{- else if eq $db "postgres" }}
        default:
            sql:
                pluginName: "postgres"
                databaseName: {{ default .Env.DBNAME "cadence" }}
                connectAddr: "{{ default .Env.POSTGRES_SEEDS "" }}:{{ default .Env.DB_PORT "5432" }}"
                connectProtocol: "tcp"
                user: {{ default .Env.POSTGRES_USER "" }}
                password: {{ default .Env.POSTGRES_PWD "" }}
                maxConns: 20
                maxIdleConns: 20
                maxConnLifetime: "1h"
        visibility:
            sql:
                pluginName: "postgres"
                databaseName: {{ default .Env.VISIBILITY_DBNAME "cadence_visibility" }}
                connectAddr: "{{ default .Env.POSTGRES_SEEDS "" }}:{{ default .Env.DB_PORT "5432" }}"
                connectProtocol: "tcp"
                user: {{ default .Env.POSTGRES_USER "" }}
                password: {{ default .Env.POSTGRES_PWD "" }}
                maxConns: 20
                maxIdleConns: 20
                maxConnLifetime: "1h"
        {{- end }}
        {{- if eq $es "true" }}
        es-visibility:
            elasticsearch:
                url:
                    scheme: "http"
                    host: "{{ default .Env.ES_SEEDS "" }}:9200"
                indices:
                    visibility: cadence-visibility-dev
        {{- end }}

ringpop:
    name: cadence
    bootstrapMode: {{ default .Env.RINGPOP_BOOTSTRAP_MODE "hosts" }}
    {{- if .Env.RINGPOP_SEEDS }}
    bootstrapHosts:
    {{- range $seed := (split .Env.RINGPOP_SEEDS ",") }}
        - {{ . }}
    {{- end }}
    {{- else }}
    bootstrapHosts:
        - {{ .Env.HOST_IP }}:7933
        - {{ .Env.HOST_IP }}:7934
        - {{ .Env.HOST_IP }}:7935
        - {{ .Env.HOST_IP }}:7939
    {{- end }}
    maxJoinDuration: 30s

services:
    frontend:
        rpc:
            port: 7933
            bindOnIP: {{ default .Env.BIND_ON_IP "127.0.0.1" }}
        {{- if .Env.STATSD_ENDPOINT }}
        metrics:
            statsd:
                hostPort: {{ .Env.STATSD_ENDPOINT }}
                prefix: "cadence-frontend"
        {{- else if .Env.PROMETHEUS_ENDPOINT }}
        metrics:
            prometheus:
                timerType: {{ default .Env.PROMETHEUS_TIMER_TYPE "histogram" }}
                listenAddress: {{ .Env.PROMETHEUS_ENDPOINT }}
        {{- end }}

    matching:
        rpc:
            port: 7935
            bindOnIP: {{ default .Env.BIND_ON_IP "127.0.0.1" }}
        {{- if .Env.STATSD_ENDPOINT }}
        metrics:
            statsd:
                hostPort: {{ .Env.STATSD_ENDPOINT }}
                prefix: "cadence-matching"
        {{- else if .Env.PROMETHEUS_ENDPOINT }}
        metrics:
            prometheus:
                timerType: {{ default .Env.PROMETHEUS_TIMER_TYPE "histogram" }}
                listenAddress: {{ .Env.PROMETHEUS_ENDPOINT }}
        {{- end }}

    history:
        rpc:
            port: 7934
            bindOnIP: {{ default .Env.BIND_ON_IP "127.0.0.1" }}
        {{- if .Env.STATSD_ENDPOINT }}
        metrics:
            statsd:
                hostPort: {{ .Env.STATSD_ENDPOINT }}
                prefix: "cadence-history"
        {{- else if .Env.PROMETHEUS_ENDPOINT }}
        metrics:
            prometheus:
                timerType: {{ default .Env.PROMETHEUS_TIMER_TYPE "histogram" }}
                listenAddress: {{ .Env.PROMETHEUS_ENDPOINT }}
        {{- end }}

    worker:
        rpc:
            port: 7939
            bindOnIP: {{ default .Env.BIND_ON_IP "127.0.0.1" }}
        {{- if .Env.STATSD_ENDPOINT }}
        metrics:
            statsd:
                hostPort: {{ .Env.STATSD_ENDPOINT }}
                prefix: "cadence-worker"
        {{- else if .Env.PROMETHEUS_ENDPOINT }}
        metrics:
            prometheus:
                timerType: {{ default .Env.PROMETHEUS_TIMER_TYPE "histogram" }}
                listenAddress: {{ .Env.PROMETHEUS_ENDPOINT }}
        {{- end }}

clusterMetadata:
    enableGlobalDomain: false
    failoverVersionIncrement: 10
    masterClusterName: "active"
    currentClusterName: "active"
    clusterInformation:
        active:
            enabled: true
            initialFailoverVersion: 0
            rpcName: "cadence-frontend"
            rpcAddress: "127.0.0.1:7933"

dcRedirectionPolicy:
    policy: "noop"
    toDC: ""

archival:
  history:
    status: "enabled"
    enableRead: true
    provider:
      filestore:
        fileMode: "0666"
        dirMode: "0766"
  visibility:
    status: "disabled"
    enableRead: false

domainDefaults:
  archival:
    history:
      status: "enabled"
      URI: "file:///tmp/cadence_archival/development"
    visibility:
      status: "disabled"

kafka:
    tls:
        enabled: false
    clusters:
        test:
            brokers:
                - {{ default .Env.KAFKA_SEEDS "" }}:9092
    topics:
        cadence-visibility-dev:
            cluster: test
        cadence-visibility-dev-dlq:
            cluster: test
    applications:
        visibility:
            topic: cadence-visibility-dev
            dlq-topic: cadence-visibility-dev-dlq

publicClient:
    hostPort: {{ default .Env.BIND_ON_IP "127.0.0.1" }}:7933

dynamicConfigClient:
    filepath: {{ default .Env.DYNAMIC_CONFIG_FILE_PATH "/etc/cadence/config/dynamicconfig" }}
    pollInterval: "60s"
