version: '3'
services:
  postgres:
    image: postgres:12
    environment:
      POSTGRES_USER: temporal
      POSTGRES_PASSWORD: temporal
    ports:
      - "5432:5432"
  statsd:
    image: graphiteapp/graphite-statsd
    ports:
      - "8080:80"
      - "2003:2003"
      - "8125:8125"
      - "8126:8126"
  temporal:
    image: temporalio/auto-setup:0.20.0
    ports:
     - "7233:7233"
     - "7234:7234"
     - "7235:7235"
     - "7239:7239"
     - "6933:6933"
     - "6934:6934"
     - "6935:6935"
     - "6939:6939"
    environment:
      - "DB=postgres"
      - "DB_PORT=5432"
      - "POSTGRES_USER=temporal"
      - "POSTGRES_PWD=temporal"
      - "POSTGRES_SEEDS=postgres"
      - "STATSD_ENDPOINT=statsd:8125"
      - "DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development.yaml"
    depends_on:
      - postgres
