#frontend.enableClientVersionCheck:
#- value: true
#  constraints: {}
#history.persistenceMaxQPS:
#- value: 3000
#  constraints: {}
#frontend.persistenceMaxQPS:
#- value: 3000
#  constraints: {}
#frontend.throttledLogRPS:
#- value: 20
#  constraints: {}
#history.defaultActivityRetryPolicy:
#- value:
#    InitialIntervalInSeconds: 1
#    MaximumIntervalCoefficient: 100.0
#    BackoffCoefficient: 2.0
#    MaximumAttempts: 0
#history.defaultWorkflowRetryPolicy:
#- value:
#    InitialIntervalInSeconds: 1
#    MaximumIntervalCoefficient: 100.0
#    BackoffCoefficient: 2.0
#    MaximumAttempts: 0
#system.advancedVisibilityWritingMode:
#  - value: "off"
#    constraints: {}
#system.enableReadVisibilityFromES:
#  - value: true
#    constraints: {}
#system.enableWriteToSecondaryAdvancedVisibility:
#  - value: true
#    constraints: {}
#system.enableReadFromSecondaryAdvancedVisibility:
#  - value: false
#    constraints: {}
#system.enableParentClosePolicyWorker:
#  - value: true
