# Overrides for Linux users.
services:
  prometheus:
    network_mode: host
    volumes:
      - ./prometheus-linux:/etc/prometheus
  grafana:
    network_mode: host
  tempo:
    depends_on:
      - grafana
    network_mode: host
  temporal-ui:
    environment:
      - TEMPORAL_ADDRESS=localhost:7233
    network_mode: host
