name: Features Integration

on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

permissions: read-all

concurrency: # Auto-cancel existing runs in the PR when a new commit is pushed
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-docker-image:
    permissions:
      actions: write
      contents: read
    uses: chaptersix/docker-builds/.github/workflows/docker-build-only.yml@5c88dffd1836344bd1581a6a5944154e4cab852c
    with:
      temporal-server-repo-path: ${{github.event.pull_request.head.repo.full_name}}
      temporal-server-repo-ref: ${{github.event.pull_request.head.ref}}

  feature-tests-ts:
    needs: build-docker-image
    uses: temporalio/features/.github/workflows/typescript.yaml@b81754e03450771a29bd8b5cebe2d7c9f6d45b83
    with:
      # This field is not actually used by these workflow if docker-image-artifact-name
      # is set, but it's marked as required, so supply some string.
      version: __latest_features_docker_image__
      version-is-repo-ref: false
      docker-image-artifact-name: temporal-server-docker
      features-repo-ref: b81754e03450771a29bd8b5cebe2d7c9f6d45b83

  feature-tests-go:
    needs: build-docker-image
    uses: temporalio/features/.github/workflows/go.yaml@b81754e03450771a29bd8b5cebe2d7c9f6d45b83
    with:
      version: __latest_features_docker_image__
      version-is-repo-ref: false
      docker-image-artifact-name: temporal-server-docker
      features-repo-ref: b81754e03450771a29bd8b5cebe2d7c9f6d45b83

  feature-tests-python:
    needs: build-docker-image
    uses: temporalio/features/.github/workflows/python.yaml@b81754e03450771a29bd8b5cebe2d7c9f6d45b83
    with:
      version: __latest_features_docker_image__
      version-is-repo-ref: false
      docker-image-artifact-name: temporal-server-docker
      features-repo-ref: b81754e03450771a29bd8b5cebe2d7c9f6d45b83

  feature-tests-java:
    needs: build-docker-image
    uses: temporalio/features/.github/workflows/java.yaml@b81754e03450771a29bd8b5cebe2d7c9f6d45b83
    with:
      version: __latest_features_docker_image__
      version-is-repo-ref: false
      docker-image-artifact-name: temporal-server-docker
      features-repo-ref: b81754e03450771a29bd8b5cebe2d7c9f6d45b83

  feature-tests-dotnet:
    needs: build-docker-image
    uses: temporalio/features/.github/workflows/dotnet.yaml@b81754e03450771a29bd8b5cebe2d7c9f6d45b83
    with:
      version: __latest_features_docker_image__
      version-is-repo-ref: false
      docker-image-artifact-name: temporal-server-docker
      features-repo-ref: b81754e03450771a29bd8b5cebe2d7c9f6d45b83

  feature-tests-status:
    name: Tests Status
    needs:
      - feature-tests-ts
      - feature-tests-go
      - feature-tests-python
      - feature-tests-java
      - feature-tests-dotnet
    runs-on: ubuntu-latest
    if: always()
    env:
      RESULTS: ${{ toJSON(needs.*.result) }}
    steps:
      - name: Check results
        run: |
          if [[ -n $(echo "$RESULTS" | jq '.[] | select (. != "success")') ]]; then
            exit 1
          fi
