version: "3.5"

services:
  cassandra:
    image: cassandra:3.11
    ports:
      - "9042:9042"
    networks:
      services-network:
        aliases:
          - cassandra

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    networks:
      services-network:
        aliases:
          - mysql

  postgresql:
    image: postgres:9.6
    environment:
      POSTGRES_USER: temporal
      POSTGRES_PASSWORD: temporal
    volumes:
      - ./postgresql-init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      services-network:
        aliases:
          - postgresql

  zookeeper:
    image: wurstmeister/zookeeper:3.4.6
    ports:
      - "2181:2181"
    networks:
      services-network:
        aliases:
          - zookeeper

  kafka:
    image: wurstmeister/kafka:2.12-2.1.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    networks:
      services-network:
        aliases:
          - kafka
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.5.1
    ports:
      - "9200:9200"
    networks:
      services-network:
        aliases:
          - elasticsearch
    environment:
      - discovery.type=single-node

  unit-test:
    build:
      context: ../../
      dockerfile: ./docker/buildkite/Dockerfile
    command:
      - /bin/sh
      - -e
      - -c
      - |
        make cover_profile
    ports:
      - "7233:7233"
      - "7234:7234"
      - "7235:7235"
      - "7239:7239"
      - "6933:6933"
      - "6934:6934"
      - "6935:6935"
      - "6939:6939"
    environment:
      - "CASSANDRA_SEEDS=cassandra"
      - "MYSQL_SEEDS=mysql"
      - "POSTGRES_SEEDS=postgresql"
    depends_on:
      - cassandra
      - mysql
      - postgresql
    volumes:
      - ../../:/temporal
    networks:
      services-network:
        aliases:
          - unit-test

  integration-test-cassandra:
    build:
      context: ../../
      dockerfile: ./docker/buildkite/Dockerfile
    command:
      - /bin/sh
      - -e
      - -c
      - |
        make cover_integration_profile
    ports:
      - "7233:7233"
      - "7234:7234"
      - "7235:7235"
      - "7239:7239"
      - "6933:6933"
      - "6934:6934"
      - "6935:6935"
      - "6939:6939"
    environment:
      - "CASSANDRA_SEEDS=cassandra"
      - "ES_SEEDS=elasticsearch"
      - "KAFKA_SEEDS=kafka"
      - "PERSISTENCE_TYPE=nosql"
      - "PERSISTENCE_DRIVER=cassandra"
      - "TEST_TAG=esintegration"
    depends_on:
      - cassandra
      - elasticsearch
      - kafka
    volumes:
      - ../../:/temporal
    networks:
      services-network:
        aliases:
          - integration-test

  integration-test-mysql:
    build:
      context: ../../
      dockerfile: ./docker/buildkite/Dockerfile
    command:
      - /bin/sh
      - -e
      - -c
      - |
        make cover_integration_profile
    ports:
      - "7233:7233"
      - "7234:7234"
      - "7235:7235"
      - "7239:7239"
      - "6933:6933"
      - "6934:6934"
      - "6935:6935"
      - "6939:6939"
    environment:
      - "MYSQL_SEEDS=mysql"
      - "ES_SEEDS=elasticsearch"
      - "KAFKA_SEEDS=kafka"
      - "PERSISTENCE_TYPE=sql"
      - "PERSISTENCE_DRIVER=mysql"
      - "TEST_TAG=esintegration"
    depends_on:
      - mysql
      - elasticsearch
      - kafka
    volumes:
      - ../../:/temporal
    networks:
      services-network:
        aliases:
          - integration-test

  integration-test-postgresql:
    build:
      context: ../../
      dockerfile: ./docker/buildkite/Dockerfile
    command:
      - /bin/sh
      - -e
      - -c
      - |
        make cover_integration_profile
    ports:
      - "7233:7233"
      - "7234:7234"
      - "7235:7235"
      - "7239:7239"
      - "6933:6933"
      - "6934:6934"
      - "6935:6935"
      - "6939:6939"
    environment:
      - "POSTGRES_SEEDS=postgresql"
      - "ES_SEEDS=elasticsearch"
      - "KAFKA_SEEDS=kafka"
      - "PERSISTENCE_TYPE=sql"
      - "PERSISTENCE_DRIVER=postgres"
      - "TEST_TAG=esintegration"
    depends_on:
      - postgresql
      - elasticsearch
      - kafka
    volumes:
      - ../../:/temporal
    networks:
      services-network:
        aliases:
          - integration-test

  integration-test-xdc-cassandra:
    build:
      context: ../../
      dockerfile: ./docker/buildkite/Dockerfile
    command:
      - /bin/sh
      - -e
      - -c
      - |
        make cover_xdc_profile
    ports:
      - "7233:7233"
      - "7234:7234"
      - "7235:7235"
      - "7239:7239"
      - "6933:6933"
      - "6934:6934"
      - "6935:6935"
      - "6939:6939"
    environment:
      - "CASSANDRA_SEEDS=cassandra"
      - "ES_SEEDS=elasticsearch"
      - "KAFKA_SEEDS=kafka"
      - "PERSISTENCE_TYPE=nosql"
      - "PERSISTENCE_DRIVER=cassandra"
      - "TEST_TAG=esintegration"
    depends_on:
      - cassandra
      - elasticsearch
      - kafka
    volumes:
      - ../../:/temporal
    networks:
      services-network:
        aliases:
          - integration-test-xdc

  integration-test-xdc-mysql:
    build:
      context: ../../
      dockerfile: ./docker/buildkite/Dockerfile
    command:
      - /bin/sh
      - -e
      - -c
      - |
        make cover_xdc_profile
    ports:
      - "7233:7233"
      - "7234:7234"
      - "7235:7235"
      - "7239:7239"
      - "6933:6933"
      - "6934:6934"
      - "6935:6935"
      - "6939:6939"
    environment:
      - "MYSQL_SEEDS=mysql"
      - "ES_SEEDS=elasticsearch"
      - "KAFKA_SEEDS=kafka"
      - "PERSISTENCE_TYPE=sql"
      - "PERSISTENCE_DRIVER=mysql"
      - "TEST_TAG=esintegration"
    depends_on:
      - mysql
      - elasticsearch
      - kafka
    volumes:
      - ../../:/temporal
    networks:
      services-network:
        aliases:
          - integration-test-xdc

  integration-test-xdc-postgresql:
    build:
      context: ../../
      dockerfile: ./docker/buildkite/Dockerfile
    command:
      - /bin/sh
      - -e
      - -c
      - |
        make cover_xdc_profile
    ports:
      - "7233:7233"
      - "7234:7234"
      - "7235:7235"
      - "7239:7239"
      - "6933:6933"
      - "6934:6934"
      - "6935:6935"
      - "6939:6939"
    environment:
      - "MYSQL_SEEDS=mysql"
      - "ES_SEEDS=elasticsearch"
      - "KAFKA_SEEDS=kafka"
      - "PERSISTENCE_TYPE=sql"
      - "PERSISTENCE_DRIVER=postgres"
      - "TEST_TAG=esintegration"
    depends_on:
      - postgresql
      - elasticsearch
      - kafka
    volumes:
      - ../../:/temporal
    networks:
      services-network:
        aliases:
          - integration-test-xdc

networks:
  services-network:
    name: services-network
    driver: bridge
